body, #board {
  background-color: gray;
  
}

#board {
  width: 525px;
  height: 525px;
  border: 10px solid white;
}

#timer, #score, #highScore {
  color: white;
}

.snake, .apple {
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  border-radius:40%;
  background-color: green;
  z-index: 3;
}

#snake-head {
  background-color: darkgreen;
}

.apple {
    border-radius: 36% 36% 41% 41% / 42% 42% 75% 75%;  
    margin: 81px 0px 0px 10px;
  background-color: red;
  z-index: 3;
}